
html,
body{
	margin:  0px;
	padding: 0px;
	height: 100%;
 	font-size: 14px;
 	top: 0;

}
header{
	position: absolute;
	top: 0;
	height: 69px;
	width: 100%;
	background-color: #f1f1f1;
	border-bottom:  1px solid #e5e5e5;
}
aside{
	position: absolute;
	top: 69px;
}
.logo{
	display: inline-block;
	background: url('logo.png') no-repeat;
	height: 60px;
 	width: 150px;
 	margin: 3px 20px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 60px;
}
.email-search{
	position: absolute;
	top: 0;
	left:190px;
	width: 504px;
	height:  28px;
	margin-top:  19.5px;
	margin-bottom: 19.5px;
}
#email-name{
	position: absolute;
	top: 0;
	left: 0;
	width: 450px;
	height: 24px;
	margin: 0;
	padding:0;
}
.search{
	display: inline-block;
	cursor:pointer;
	background: url('magnifier.png') no-repeat #4486fa;
	background-size: 14px;
	background-position: 18px 7px;
	height:28px;
	width:50px;
 	border: 0px solid #4486fa;
 	outline: none;
	vertical-align: middle;
	padding: 0;
	position: absolute;
	left: 450px;
	top: 0;
}
.application{
	position: absolute;
	top: 0;
	right: 12%;
	height: 20px;
	width: 20px;
	line-height: 20px;
	margin: 23.5px;
	background: url('square.png') ;
	background-size: 6px;
	background-position: 1px 1px;
}
.accout-setting{
	position: absolute;
	top: 0;
	right: 10px;
	width: 10%;
	font-size: 12px;
	margin: 25.5px 10px 25.5px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
aside{
	position: absolute;
	left: 0;
	width: 200px;
	height: 92%;
}
nav a{
	text-decoration: none;
}
nav ul a:visited{
	color:gray;
}
.dropdown-menu{
	height: 44px;
	border-bottom: 1px solid #e5e5e5;
	line-height: 44px;
	padding-left: 30px;
	padding-right: 130px;
	font-size: 20px;
	color: #d74a38;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0 0 0 30px;	
	line-height: 140%;
}
.email-write{
	display: block;
	border: 1px solid #d74a38;
	border-radius: 2px;
	padding: 6px 20px;
	margin:  10px 55px 10px 30px;
	text-align: center;
	background-color: #d74a38;
}
.active-mailbox{
	padding: 0;
	margin: 0 0 0 30px;	
	color: #d74a38;
	font-weight: bold;
}
.write{
	color: white;
	font-weight: bold;
}
.mailbox-list{
}
.dropdown-more{
	padding: 0;
	margin: 0 0 0 30px;
}
.dropdown-more a:visited{
	color:gray;
}
.chat{
	position: absolute;
	bottom: 10px;
	padding: 10px 55px 10px 55px;
	margin: 0 0 0 18px;
	border-top:1px solid #e5e5e5;
	font-size: 12px;
}
section{
	width:auto;
	position: absolute;
	right: 0;
	left: 200px;
	top: 69px;
	height: 92%;
}
.email-list-top{
	
	height: 34px;
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px solid #e5e5e5;
}
.email-list-top-left{
	position: absolute;
	margin: 6px 0;
	top: 0;
	left: 0;
	width: auto;
}
.check-dropdown,
.refresh,
.additional,
.setting{
	border-radius:4px;
}
.check-dropdown{
	position:absolute;
	top: 0;
	left: 0;
	border: 1px solid #c6c6c6;
	height: 30px;
	width: 70;
	margin-right: auto;
	margin-left: auto;
	line-height: 30px;
	text-align: center;
	background-color: #f2f2f2;
}
.refresh{
	position: absolute;
	top: 0;
	left: 69px;
	border: 1px solid #c6c6c6;
	height: 30px;
	width: 70px;
	line-height: 30px;
	text-align: center;
	margin: 0 10px;	
	background: url('refresh.png') no-repeat #f2f2f2;
	background-size: 16px;
	background-position:  27px 7px;
}
.additional{
	position: absolute;
	top:0;
	left: 163px;
	border: 1px solid #c6c6c6;
	height: 30px;
	width: 90px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	background-color: #f2f2f2;
}
.email-list-top-right{
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	margin: 6px 0;
}
.email-count{
	position: absolute;
	top: 0;
	right: 190px;
	height: 30px;
	width: 110px;
	margin-right: 5px;
	margin-left: auto;
	line-height: 30px;
	text-align: center;
}
.prev-page{
	position: absolute;
	top: 0;
	right: 138px;
	border: 1px solid #c6c6c6;
	height: 30px;
	width: 45px;
	margin-right: 0;
	margin-left:5px;
	line-height: 30px;
	text-align: center;
	background-color: #f2f2f2;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: gray;
	font-weight: bold;

}
.next-page{
	position: absolute;
	top: 0;
	right: 87px;
	border: 1px solid #c6c6c6;
	height: 30px;
	width: 45px;
	margin-right: 5px;
	margin-left: 0;
	line-height: 30px;
	text-align: center;
	background-color: #f2f2f2;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-left: -1px;
	font-weight: bold;
}
.setting{
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #c6c6c6;
	height: 30px;
	width: 70px;
	margin-right: 10px;
	margin-left: 5px;
	line-height: 30px;
	text-align: center;
	background-color: #f2f2f2;
}

article{
	height: 80%;
	max-height: 460px;
	margin-bottom: 10px;
}
.email-wrapper1,
.email-wrapper2,
.email-wrapper3,
.email-wrapper4,
.email-wrapper5,
.email-wrapper6,
.email-wrapper7,
.email-wrapper8,
.email-wrapper9,
.email-wrapper10,
.email-wrapper11,
.email-wrapper12,
.email-wrapper13,
.email-wrapper14,
.email-wrapper15{
	position: relative;
	top: 45;
	right: 0;
	display: block;
	height: 4%;
	width: 99%;
	min-height: 29px;
	min-width: 700px;
	background-color: #f3f3f3;
	border-bottom:1px solid #e5e5e5;
	padding: 0;
	margin: 0;
}
.email-checkbox{
	position: absolute;
	top: 0;
	left: 5px;
	height: 100%;
	line-height: 200%;
	margin: 0 0 0 10px;
}

.email-star{
	position: relative;
	top: 0;
	left: 40px;
	height: 100%;
	width: 5%;
	line-height: 200%;
	text-align: center;
	color: #c2c2c2;
}
.email-name,
.email-name1{
	position: relative;
	top: 0;
	left: 50px;
	height: 100%;
	width: 180px;
	text-align: left;
	line-height: 200%
}
.email-body{
	position: absolute;
	top: 0;
	left: 250px;
	height: 100%;
	width: 50%;
	line-height: 200%;
}
.email-subject{
	position: absolute;
	top: 0;
	left: 0;	
}
.email-contents{
	position: relative;
	top: 0;
	left: 230px;
	right: 0px;
	color: #8a778a; 
	width: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.email-file{
	position: absolute;
	top: 0;
	right: 60px;
	height: 95%;
	width: 3%;
	line-height: 200%;
	text-align: center;
	background: url('clip.png') no-repeat;
	background-size: 18px;
	background-position:  2px 6px;
}
.email-time{
	position: absolute;
	top: 0;
	right: 5px;
	height: 100%;
	width: 5%;
	padding-right: 13px;
	text-align: right;
	line-height: 200%;
}

footer{
	position: relative;
	bottom: 0;
	height: 4%;
	width:100%;
	font-size: 12px;
}
footer a:visited{
	color:gray;
}
.footer-left{
	position: absolute;
	top: 0;
	left:  0;
	text-align: left;
	width: 25%;
}
.footer-left-top{
	font-weight: bold;
}
.footer-center{
	position: absolute;
	top: 0;
	left: 25%;
	right: 23%;
	text-align: center;
	width: 40%;
	margin: 0 5%;
}
.footer-right{
	position: absolute;
	top: 0;
	right:  0;
	text-align: right;
	width: 23%;
	margin-right: 5px;
}